{% extends 'base101.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url({% static 'website/' %}assets/images/backgrounds/page-header-bg.jpg)">
            </div>
            <div class="main-slider-border"></div>
            <div class="main-slider-border main-slider-border-two"></div>
            <div class="main-slider-border main-slider-border-three"></div>
            <div class="main-slider-border main-slider-border-four"></div>
            <div class="main-slider-border main-slider-border-five"></div>
            <div class="main-slider-border main-slider-border-six"></div>
            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><span>//</span></li>
                        <li>FAQs</li>
                    </ul>
                    <h2>Our FAQS</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--FAQ Page Start-->
        <section class="faq-page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <div class="faq-page__left">
                            <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                                <div class="accrodion active">
                                    <div class="accrodion-title">
                                        <h4>How to experience the magic of internet?</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>There are many variations of passages of available, simply free text
                                                available in the market but the majority have suffered alteration in
                                                some form.</p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                                <div class="accrodion">
                                    <div class="accrodion-title">
                                        <h4>How to connect your phone with wifi?</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>There are many variations of passages of available, simply free text
                                                available in the market but the majority have suffered alteration in
                                                some form.</p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                                <div class="accrodion">
                                    <div class="accrodion-title">
                                        <h4>How to watch online movies?</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>There are many variations of passages of available, simply free text
                                                available in the market but the majority have suffered alteration in
                                                some form.</p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                                <div class="accrodion">
                                    <div class="accrodion-title">
                                        <h4>How to connect your phone with wifi?</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>There are many variations of passages of available, simply free text
                                                available in the market but the majority have suffered alteration in
                                                some form.</p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                                <div class="accrodion">
                                    <div class="accrodion-title">
                                        <h4>How to watch online movies?</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>There are many variations of passages of available, simply free text
                                                available in the market but the majority have suffered alteration in
                                                some form.</p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                                <div class="accrodion">
                                    <div class="accrodion-title">
                                        <h4>How to watch online movies?</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>There are many variations of passages of available, simply free text
                                                available in the market but the majority have suffered alteration in
                                                some form.</p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                                <div class="accrodion">
                                    <div class="accrodion-title">
                                        <h4>How to connect your phone with wifi?</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>There are many variations of passages of available, simply free text
                                                available in the market but the majority have suffered alteration in
                                                some form.</p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                                <div class="accrodion last-chiled">
                                    <div class="accrodion-title">
                                        <h4>How to watch online movies?</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>There are many variations of passages of available, simply free text
                                                available in the market but the majority have suffered alteration in
                                                some form.</p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="faq-page__right">
                            <div class="service-details__need-help">
                                <div class="service-details__need-help-bg"
                                    style="background-image: url({% static 'website/' %}assets/images/backgrounds/service-details-need-help-bg.jpg)">
                                </div>
                                <div class="service-details__need-help-icon">
                                    <span class="icon-phone-call"></span>
                                </div>
                                <h2 class="service-details__need-help-title">Get high <br> speed internet <br> services
                                </h2>
                                <div class="service-details__need-help-contact">
                                    <p>Call anytime</p>
                                    <a href="tel:254707556977">+254 707 556 977</a>
                                </div>
                            </div>
                            <div class="service-details__download">
                                <a href="{% url 'contact' %}" class="thm-btn service-details__btn">Get started now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--FAQ Page End-->


{% endblock %}