{% extends 'base101.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url({% static 'website/' %}assets/images/backgrounds/page-header-bg.jpg)">
            </div>
            <div class="main-slider-border"></div>
            <div class="main-slider-border main-slider-border-two"></div>
            <div class="main-slider-border main-slider-border-three"></div>
            <div class="main-slider-border main-slider-border-four"></div>
            <div class="main-slider-border main-slider-border-five"></div>
            <div class="main-slider-border main-slider-border-six"></div>
            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><span>//</span></li>
                        <li>Gallery</li>
                    </ul>
                    <h2>Gallery</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Gallery Page Start-->
        <section class="gallery-page">
            <div class="container">
                <div class="row">
                    <!--Gallery Page Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="{% static 'website/' %}assets/images/gallery/gallery-page-1.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="{% static 'website/' %}assets/images/gallery/gallery-page-1.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Page Single End-->
                    <!--Gallery Page Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="{% static 'website/' %}assets/images/gallery/gallery-page-2.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="{% static 'website/' %}assets/images/gallery/gallery-page-2.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Page Single End-->
                    <!--Gallery Page Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="{% static 'website/' %}assets/images/gallery/gallery-page-3.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="{% static 'website/' %}assets/images/gallery/gallery-page-3.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Page Single End-->
                    <!--Gallery Page Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="{% static 'website/' %}assets/images/gallery/gallery-page-4.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="{% static 'website/' %}assets/images/gallery/gallery-page-4.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Page Single End-->
                    <!--Gallery Page Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="{% static 'website/' %}assets/images/gallery/gallery-page-5.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="{% static 'website/' %}assets/images/gallery/gallery-page-5.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Page Single End-->
                    <!--Gallery Page Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="600ms">
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="{% static 'website/' %}assets/images/gallery/gallery-page-6.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="{% static 'website/' %}assets/images/gallery/gallery-page-6.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Page Single End-->
                    <!--Gallery Page Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="700ms">
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="{% static 'website/' %}assets/images/gallery/gallery-page-7.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="{% static 'website/' %}assets/images/gallery/gallery-page-7.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Page Single End-->
                    <!--Gallery Page Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="800ms">
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="{% static 'website/' %}assets/images/gallery/gallery-page-8.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="{% static 'website/' %}assets/images/gallery/gallery-page-8.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Page Single End-->
                    <!--Gallery Page Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="900ms">
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="{% static 'website/' %}assets/images/gallery/gallery-page-9.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="{% static 'website/' %}assets/images/gallery/gallery-page-9.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gallery Page Single End-->
                </div>
            </div>
        </section>
        <!--Gallery Page End-->

{% endblock %}