{% extends 'base101.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url({% static 'website' %}assets/images/backgrounds/page-header-bg.jpg)">
            </div>
            <div class="main-slider-border"></div>
            <div class="main-slider-border main-slider-border-two"></div>
            <div class="main-slider-border main-slider-border-three"></div>
            <div class="main-slider-border main-slider-border-four"></div>
            <div class="main-slider-border main-slider-border-five"></div>
            <div class="main-slider-border main-slider-border-six"></div>
            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><span>//</span></li>
                        <li>News carousel</li>
                    </ul>
                    <h2>News carousel</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--News One Start-->
        <section class="news-carousel-page">
            <div class="container">
                <div class="news-carousel thm-owl__carousel owl-theme owl-carousel carousel-dot-style" data-owl-options='{
                    "items": 3,
                    "margin": 30,
                    "smartSpeed": 700,
                    "loop":true,
                    "autoplay": 6000,
                    "nav":false,
                    "dots":true,
                    "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                    "responsive":{
                        "0":{
                            "items":1
                        },
                        "768":{
                            "items":2
                        },
                        "992":{
                            "items": 3
                        }
                    }
                }'>
                    <!--News One Single Start-->
                    <div class="item">
                        <div class="news-one__single">
                            <div class="news-one__img-box">
                                <img src="{% static 'website' %}assets/images/blog/news-1.1.jpg" alt="">
                                <a href="{% url 'newsdetails' %}"><span class="icon-plus-symbol"></span></a>
                            </div>
                            <div class="news-one__content-box">
                                <div class="news-one__content">
                                    <ul class="news-one__meta list-unstyled">
                                        <li>
                                            <a href="{% url 'newsdetails' %}"><i class="fas fa-user-circle"></i>by Admin</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'newsdetails' %}"><i class="fas fa-comments"></i>02 Comments</a>
                                        </li>
                                    </ul>
                                    <h3 class="news-one__title"><a href="{% url 'newsdetails' %}">The best usage of the fiber
                                            internet from
                                            broadband</a></h3>
                                </div>
                                <div class="news-one__bottom">
                                    <a href="{% url 'newsdetails' %}" class="news-one__read-more">Read More</a>
                                </div>
                                <div class="news-one__date">
                                    <p>18 may</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News One Single End-->
                    <!--News One Single Start-->
                    <div class="item">
                        <div class="news-one__single">
                            <div class="news-one__img-box">
                                <img src="{% static 'website' %}assets/images/blog/news-1.2.jpg" alt="">
                                <a href="{% url 'newsdetails' %}"><span class="icon-plus-symbol"></span></a>
                            </div>
                            <div class="news-one__content-box">
                                <div class="news-one__content">
                                    <ul class="news-one__meta list-unstyled">
                                        <li>
                                            <a href="{% url 'newsdetails' %}"><i class="fas fa-user-circle"></i>by Admin</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'newsdetails' %}"><i class="fas fa-comments"></i>02 Comments</a>
                                        </li>
                                    </ul>
                                    <h3 class="news-one__title"><a href="{% url 'newsdetails' %}">Lorem ipsum dolor sit amet,
                                            consectetur adipiscing elit</a></h3>
                                </div>
                                <div class="news-one__bottom">
                                    <a href="{% url 'newsdetails' %}" class="news-one__read-more">Read More</a>
                                </div>
                                <div class="news-one__date">
                                    <p>18 may</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News One Single End-->
                    <!--News One Single Start-->
                    <div class="item">
                        <div class="news-one__single">
                            <div class="news-one__img-box">
                                <img src="{% static 'website' %}assets/images/blog/news-1.3.jpg" alt="">
                                <a href="{% url 'newsdetails' %}"><span class="icon-plus-symbol"></span></a>
                            </div>
                            <div class="news-one__content-box">
                                <div class="news-one__content">
                                    <ul class="news-one__meta list-unstyled">
                                        <li>
                                            <a href="{% url 'newsdetails' %}"><i class="fas fa-user-circle"></i>by Admin</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'newsdetails' %}"><i class="fas fa-comments"></i>02 Comments</a>
                                        </li>
                                    </ul>
                                    <h3 class="news-one__title"><a href="{% url 'newsdetails' %}">Suspendisse posuere, leo ac
                                            laoreet dapibus, urna</a></h3>
                                </div>
                                <div class="news-one__bottom">
                                    <a href="{% url 'newsdetails' %}" class="news-one__read-more">Read More</a>
                                </div>
                                <div class="news-one__date">
                                    <p>18 may</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News One Single End-->
                    <!--News One Single Start-->
                    <div class="item">
                        <div class="news-one__single">
                            <div class="news-one__img-box">
                                <img src="{% static 'website' %}assets/images/blog/news-1.4.jpg" alt="">
                                <a href="{% url 'newsdetails' %}"><span class="icon-plus-symbol"></span></a>
                            </div>
                            <div class="news-one__content-box">
                                <div class="news-one__content">
                                    <ul class="news-one__meta list-unstyled">
                                        <li>
                                            <a href="{% url 'newsdetails' %}"><i class="fas fa-user-circle"></i>by Admin</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'newsdetails' %}"><i class="fas fa-comments"></i>02 Comments</a>
                                        </li>
                                    </ul>
                                    <h3 class="news-one__title"><a href="{% url 'newsdetails' %}">Integer imperdiet lacus ut
                                            enim porta, porta</a></h3>
                                </div>
                                <div class="news-one__bottom">
                                    <a href="{% url 'newsdetails' %}" class="news-one__read-more">Read More</a>
                                </div>
                                <div class="news-one__date">
                                    <p>18 may</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News One Single End-->
                    <!--News One Single Start-->
                    <div class="item">
                        <div class="news-one__single">
                            <div class="news-one__img-box">
                                <img src="{% static 'website' %}assets/images/blog/news-1.5.jpg" alt="">
                                <a href="{% url 'newsdetails' %}"><span class="icon-plus-symbol"></span></a>
                            </div>
                            <div class="news-one__content-box">
                                <div class="news-one__content">
                                    <ul class="news-one__meta list-unstyled">
                                        <li>
                                        </li>
                                        <li>
                                            <a href="{% url 'newsdetails' %}"><i class="fas fa-comments"></i>02 Comments</a>
                                        </li>
                                    </ul>
                                    <h3 class="news-one__title"><a href="{% url 'newsdetails' %}">vestibulum nisi iaculis.
                                            Donec id euismod risus elit</a></h3>
                                </div>
                                <div class="news-one__bottom">
                                    <a href="{% url 'newsdetails' %}" class="news-one__read-more">Read More</a>
                                </div>
                                <div class="news-one__date">
                                    <p>18 may</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News One Single End-->
                    <!--News One Single Start-->
                    <div class="item">
                        <div class="news-one__single">
                            <div class="news-one__img-box">
                                <img src="{% static 'website' %}assets/images/blog/news-1.6.jpg" alt="">
                                <a href="{% url 'newsdetails' %}"><span class="icon-plus-symbol"></span></a>
                            </div>
                            <div class="news-one__content-box">
                                <div class="news-one__content">
                                    <ul class="news-one__meta list-unstyled">
                                        <li>
                                            <a href="{% url 'newsdetails' %}"><i class="fas fa-user-circle"></i>by Admin</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'newsdetails' %}"><i class="fas fa-comments"></i>02 Comments</a>
                                        </li>
                                    </ul>
                                    <h3 class="news-one__title"><a href="{% url 'newsdetails' %}">Praesent varius elit nisl,
                                            in maximus augue venenatis</a></h3>
                                </div>
                                <div class="news-one__bottom">
                                    <a href="{% url 'newsdetails' %}" class="news-one__read-more">Read More</a>
                                </div>
                                <div class="news-one__date">
                                    <p>18 may</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News One Single End-->
                    <!--News One Single Start-->
                    <div class="item">
                        <div class="news-one__single">
                            <div class="news-one__img-box">
                                <img src="{% static 'website' %}assets/images/blog/news-1.1.jpg" alt="">
                                <a href="{% url 'newsdetails' %}"><span class="icon-plus-symbol"></span></a>
                            </div>
                            <div class="news-one__content-box">
                                <div class="news-one__content">
                                    <ul class="news-one__meta list-unstyled">
                                        <li>
                                            <a href="{% url 'newsdetails' %}"><i class="fas fa-user-circle"></i>by Admin</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'newsdetails' %}"><i class="fas fa-comments"></i>02 Comments</a>
                                        </li>
                                    </ul>
                                    <h3 class="news-one__title"><a href="{% url 'newsdetails' %}">The best usage of the fiber
                                            internet from
                                            broadband</a></h3>
                                </div>
                                <div class="news-one__bottom">
                                    <a href="{% url 'newsdetails' %}" class="news-one__read-more">Read More</a>
                                </div>
                                <div class="news-one__date">
                                    <p>18 may</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News One Single End-->
                    <!--News One Single Start-->
                    <div class="item">
                        <div class="news-one__single">
                            <div class="news-one__img-box">
                                <img src="{% static 'website' %}assets/images/blog/news-1.2.jpg" alt="">
                                <a href="{% url 'newsdetails' %}"><span class="icon-plus-symbol"></span></a>
                            </div>
                            <div class="news-one__content-box">
                                <div class="news-one__content">
                                    <ul class="news-one__meta list-unstyled">
                                        <li>
                                            <a href="{% url 'newsdetails' %}"><i class="fas fa-user-circle"></i>by Admin</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'newsdetails' %}"><i class="fas fa-comments"></i>02 Comments</a>
                                        </li>
                                    </ul>
                                    <h3 class="news-one__title"><a href="{% url 'newsdetails' %}">Lorem ipsum dolor sit amet,
                                            consectetur adipiscing elit</a></h3>
                                </div>
                                <div class="news-one__bottom">
                                    <a href="{% url 'newsdetails' %}" class="news-one__read-more">Read More</a>
                                </div>
                                <div class="news-one__date">
                                    <p>18 may</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News One Single End-->
                    <!--News One Single Start-->
                    <div class="item">
                        <div class="news-one__single">
                            <div class="news-one__img-box">
                                <img src="{% static 'website' %}assets/images/blog/news-1.3.jpg" alt="">
                                <a href="{% url 'newsdetails' %}"><span class="icon-plus-symbol"></span></a>
                            </div>
                            <div class="news-one__content-box">
                                <div class="news-one__content">
                                    <ul class="news-one__meta list-unstyled">
                                        <li>
                                            <a href="{% url 'newsdetails' %}"><i class="fas fa-user-circle"></i>by Admin</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'newsdetails' %}"><i class="fas fa-comments"></i>02 Comments</a>
                                        </li>
                                    </ul>
                                    <h3 class="news-one__title"><a href="{% url 'newsdetails' %}">Suspendisse posuere, leo ac
                                            laoreet dapibus, urna</a></h3>
                                </div>
                                <div class="news-one__bottom">
                                    <a href="{% url 'newsdetails' %}" class="news-one__read-more">Read More</a>
                                </div>
                                <div class="news-one__date">
                                    <p>18 may</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News One Single End-->
                </div>
            </div>
        </section>
        <!--News One End-->

{% endblock %}