{% extends 'base101.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url({% static 'website/' %}assets/images/backgrounds/page-header-bg.jpg)">
            </div>
            <div class="main-slider-border"></div>
            <div class="main-slider-border main-slider-border-two"></div>
            <div class="main-slider-border main-slider-border-three"></div>
            <div class="main-slider-border main-slider-border-four"></div>
            <div class="main-slider-border main-slider-border-five"></div>
            <div class="main-slider-border main-slider-border-six"></div>
            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><span>//</span></li>
                        <li>Packages</li>
                    </ul>
                    <h2>Packages two</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Price Start-->
        <section class="price">
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">tariffs PLAN</span>
                    <h2 class="section-title__title">Choose our perfect <br> tariff plans</h2>
                </div>
                <div class="price__inner">
                    <!--Price Single Start-->
                    <div class="price__single wow fadeInUp" data-wow-delay="100ms">
                        <div class="price__main-progress-box">
                            <div class="price__progress-single">
                                <div class="price__progress-box">
                                    <div class="circle-progress"
                                        data-options='{ "value": 0.5,"thickness": 10,"emptyFill": "#f7f5f1","lineCap": "square", "size": 140, "fill": { "color": "#089fac" } }'>
                                    </div><!-- /.circle-progress -->
                                    <div class="price__pack">
                                        <p>8</p>
                                        <span>Mbps</span>
                                    </div>
                                </div>
                                <div class="price__progress-content">
                                    <p>Internet</p>
                                    <h3>Bronze</h3>
                                </div>
                            </div>
                        </div>
                        <div class="price__right-content-box">
                            <ul class="list-unstyled price__right-points">
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="text">
                                        <p>Up to an 8 Mbps Bandwidth</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="text">
                                        <p>Connect multiple users at once</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="text">
                                        <p>WiFi router & prevention</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="text">
                                        <p>Unlimited devices users</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="price__box">
                                <h2 class="price__box-price"> <sup class="price__box-price-dolar">KES</sup> 2,000
                                    <sup class="price__box-price-last-text">.00</sup> </h2>
                                <div class="price__btn-box">
                                    <a href="{% url 'contact' %}" class="thm-btn price__btn">Get started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Price Single End-->
                    <!--Price Single Start-->
                    <div class="price__single wow fadeInUp" data-wow-delay="200ms">
                        <div class="price__main-progress-box">
                            <div class="price__progress-single">
                                <div class="price__progress-box">
                                    <div class="circle-progress"
                                        data-options='{ "value": 0.7,"thickness": 10,"emptyFill": "#f7f5f1","lineCap": "square", "size": 140, "fill": { "color": "#089fac" } }'>
                                    </div><!-- /.circle-progress -->
                                    <div class="price__pack">
                                        <p>15</p>
                                        <span>Mbps</span>
                                    </div>
                                </div>
                                <div class="price__progress-content">
                                    <p>Internet</p>
                                    <h3>Silver</h3>
                                </div>
                            </div>
                        </div>
                        <div class="price__right-content-box">
                            <ul class="list-unstyled price__right-points">
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="text">
                                        <p>Up to a 15Mbps Bandwidth</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="text">
                                        <p>Connect multiple users at once</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="text">
                                        <p>WiFi router & prevention</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="text">
                                        <p>Unlimited devices users</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="price__box">
                                <h2 class="price__box-price"> <sup class="price__box-price-dolar">KES</sup> 3,500
                                    <sup class="price__box-price-last-text">.00</sup> </h2>
                                <div class="price__btn-box">
                                    <a href="{% url 'contact' %}" class="thm-btn price__btn">Get started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Price Single End-->
                    <!--Price Single Start-->
                    <div class="price__single wow fadeInUp" data-wow-delay="300ms">
                        <div class="price__main-progress-box">
                            <div class="price__progress-single">
                                <div class="price__progress-box">
                                    <div class="circle-progress"
                                        data-options='{ "value": 1,"thickness": 10,"emptyFill": "#f7f5f1","lineCap": "square", "size": 140, "fill": { "color": "#fe9043" } }'>
                                    </div><!-- /.circle-progress -->
                                    <div class="price__pack">
                                        <p>30</p>
                                        <span>Mbps</span>
                                    </div>
                                </div>
                                <div class="price__progress-content">
                                    <p>Internet</p>
                                    <h3>Gold</h3>
                                </div>
                            </div>
                        </div>
                        <div class="price__right-content-box">
                            <ul class="list-unstyled price__right-points">
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="text">
                                        <p>Up to a 30Mbps Bandwidth</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="text">
                                        <p>Connect multiple users at once</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="text">
                                        <p>WiFi router & prevention</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="text">
                                        <p>Unlimited devices users</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="price__box">
                                <h2 class="price__box-price"> <sup class="price__box-price-dolar">KES</sup> 5,000
                                    <sup class="price__box-price-last-text">.00</sup> </h2>
                                <div class="price__btn-box">
                                    <a href="{% url 'contact' %}" class="thm-btn price__btn">Get started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Price Single End-->
                </div>
            </div>
        </section>
        <!--Price End-->

        <!--Brand One Start-->
        <section class="brand-one">
            <div class="brand-one-shape-1 float-bob-x">
                <img src="{% static 'website/' %}assets/images/shapes/brand-one-shape-1.png" alt="">
            </div>
            <div class="brand-one-shape-2 float-bob-y">
                <img src="{% static 'website/' %}assets/images/shapes/brand-one-shape-2.png" alt="">
            </div>
            <div class="container">
                <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                                    "0": {
                                        "spaceBetween": 30,
                                        "slidesPerView": 2
                                    },
                                    "375": {
                                        "spaceBetween": 30,
                                        "slidesPerView": 2
                                    },
                                    "575": {
                                        "spaceBetween": 30,
                                        "slidesPerView": 3
                                    },
                                    "767": {
                                        "spaceBetween": 50,
                                        "slidesPerView": 4
                                    },
                                    "991": {
                                        "spaceBetween": 50,
                                        "slidesPerView": 5
                                    },
                                    "1199": {
                                        "spaceBetween": 50,
                                        "slidesPerView": 5
                                    }
                                }}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{% static 'website/' %}assets/images/brand/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="{% static 'website/' %}assets/images/brand/brand-1-2.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="{% static 'website/' %}assets/images/brand/brand-1-3.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="{% static 'website/' %}assets/images/brand/brand-1-4.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="{% static 'website/' %}assets/images/brand/brand-1-5.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="{% static 'website/' %}assets/images/brand/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="{% static 'website/' %}assets/images/brand/brand-1-2.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="{% static 'website/' %}assets/images/brand/brand-1-3.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="{% static 'website/' %}assets/images/brand/brand-1-4.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="{% static 'website/' %}assets/images/brand/brand-1-5.png" alt="">
                        </div><!-- /.swiper-slide -->
                    </div>
                </div>
            </div>
        </section>
        <!--Brand One End-->
{% endblock %}