{% extends 'base101.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)">
            </div>
            <div class="main-slider-border"></div>
            <div class="main-slider-border main-slider-border-two"></div>
            <div class="main-slider-border main-slider-border-three"></div>
            <div class="main-slider-border main-slider-border-four"></div>
            <div class="main-slider-border main-slider-border-five"></div>
            <div class="main-slider-border main-slider-border-six"></div>
            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><span>//</span></li>
                        <li>Services carousel</li>
                    </ul>
                    <h2>Services carousel</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Services One Start-->
        <section class="services-carousel-page">
            <div class="container">
                <div class="services-carousel thm-owl__carousel owl-theme owl-carousel carousel-dot-style"
                    data-owl-options='{
                    "items": 3,
                    "margin": 30,
                    "smartSpeed": 700,
                    "loop":true,
                    "autoplay": 6000,
                    "nav":false,
                    "dots":true,
                    "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                    "responsive":{
                        "0":{
                            "items":1
                        },
                        "768":{
                            "items":2
                        },
                        "992":{
                            "items": 3
                        }
                    }
                }'>
                    <!--Services One Single Start-->
                    <div class="item">
                        <div class="services-one__single">
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url(assets/images/backgrounds/services-one-single-bg.jpg);">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-tv-box"></span>
                                </div>
                                <h3 class="services-one__title"><a href="satelite-tv.html">Smart TV</a></h3>
                                <p class="services-one__text">Nunc eleifend eget nunc eget consequat. Etiam sed
                                    varius est. Proin et lacus odio.</p>
                            </div>
                            <div class="services-one__arrow">
                                <a href="satelite-tv.html"><span class="icon-right-arrow1"></span></a>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="item">
                        <div class="services-one__single">
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url(assets/images/backgrounds/services-one-single-bg.jpg);">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-wifi-router"></span>
                                </div>
                                <h3 class="services-one__title"><a href="broadband.html">Broadband</a></h3>
                                <p class="services-one__text">Nunc eleifend eget nunc eget consequat. Etiam sed
                                    varius est. Proin et lacus odio.</p>
                            </div>
                            <div class="services-one__arrow">
                                <a href="broadband.html"><span class="icon-right-arrow1"></span></a>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="item">
                        <div class="services-one__single">
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url(assets/images/backgrounds/services-one-single-bg.jpg);">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-mobile-app"></span>
                                </div>
                                <h3 class="services-one__title"><a href="all-for-mobile.html">All for mobile</a></h3>
                                <p class="services-one__text">Nunc eleifend eget nunc eget consequat. Etiam sed
                                    varius est. Proin et lacus odio.</p>
                            </div>
                            <div class="services-one__arrow">
                                <a href="all-for-mobile.html"><span class="icon-right-arrow1"></span></a>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="item">
                        <div class="services-one__single">
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url(assets/images/backgrounds/services-one-single-bg.jpg);">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-high-speed"></span>
                                </div>
                                <h3 class="services-one__title"><a href="fast-internet.html">Fast internet</a></h3>
                                <p class="services-one__text">Nunc eleifend eget nunc eget consequat. Etiam sed
                                    varius est. Proin et lacus odio.</p>
                            </div>
                            <div class="services-one__arrow">
                                <a href="fast-internet.html"><span class="icon-right-arrow1"></span></a>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="item">
                        <div class="services-one__single">
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url(assets/images/backgrounds/services-one-single-bg.jpg);">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-tv-box"></span>
                                </div>
                                <h3 class="services-one__title"><a href="satelite-tv.html">Smart TV</a></h3>
                                <p class="services-one__text">Nunc eleifend eget nunc eget consequat. Etiam sed
                                    varius est. Proin et lacus odio.</p>
                            </div>
                            <div class="services-one__arrow">
                                <a href="satelite-tv.html"><span class="icon-right-arrow1"></span></a>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="item">
                        <div class="services-one__single">
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url(assets/images/backgrounds/services-one-single-bg.jpg);">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-wifi-router"></span>
                                </div>
                                <h3 class="services-one__title"><a href="broadband.html">Broadband</a></h3>
                                <p class="services-one__text">Nunc eleifend eget nunc eget consequat. Etiam sed
                                    varius est. Proin et lacus odio.</p>
                            </div>
                            <div class="services-one__arrow">
                                <a href="broadband.html"><span class="icon-right-arrow1"></span></a>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="item">
                        <div class="services-one__single">
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url(assets/images/backgrounds/services-one-single-bg.jpg);">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-mobile-app"></span>
                                </div>
                                <h3 class="services-one__title"><a href="all-for-mobile.html">All for mobile</a></h3>
                                <p class="services-one__text">Nunc eleifend eget nunc eget consequat. Etiam sed
                                    varius est. Proin et lacus odio.</p>
                            </div>
                            <div class="services-one__arrow">
                                <a href="all-for-mobile.html"><span class="icon-right-arrow1"></span></a>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="item">
                        <div class="services-one__single">
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url(assets/images/backgrounds/services-one-single-bg.jpg);">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-high-speed"></span>
                                </div>
                                <h3 class="services-one__title"><a href="fast-internet.html">Fast internet</a></h3>
                                <p class="services-one__text">Nunc eleifend eget nunc eget consequat. Etiam sed
                                    varius est. Proin et lacus odio.</p>
                            </div>
                            <div class="services-one__arrow">
                                <a href="fast-internet.html"><span class="icon-right-arrow1"></span></a>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="item">
                        <div class="services-one__single">
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url(assets/images/backgrounds/services-one-single-bg.jpg);">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-tv-box"></span>
                                </div>
                                <h3 class="services-one__title"><a href="satelite-tv.html">Smart TV</a></h3>
                                <p class="services-one__text">Nunc eleifend eget nunc eget consequat. Etiam sed
                                    varius est. Proin et lacus odio.</p>
                            </div>
                            <div class="services-one__arrow">
                                <a href="satelite-tv.html"><span class="icon-right-arrow1"></span></a>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                </div>
            </div>
        </section>
        <!--Services One End-->
{% endblock %}